.header {
    background-color: rgb(37, 116, 73);
    padding: 30px;
    border-width: 0px;
    text-align: center;

}

h1 {
    text-shadow: 2px 2px rgb(255, 255, 255);
    font-size: 35px;

}

.header p {
    font-size: 20px;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;

}

.header img {
    display: flex;
    margin-right: 50px;

}

.navbar {
    background-color: rgb(55, 174, 109);
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: rgb(24, 78, 47);
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.content {
    text-align: center;
    background-color:rgb(240, 240, 240 );
    height: 1300px;
    justify-content: center;
    display: flex;
    

}

.footer {
    background-color: rgb(37, 116, 73);
    padding: 100px;
    text-align: center;
}

p .valor {
    font-size: 30px;

}

section article img {
    width: 200px;
    
}

.desconto {
    background-color: rgb(255, 77, 12);
    /* border-radius: 5px; */
    height: 50;
    width: 25;
    float: right;
    margin-left: -15px;
    margin-top: 5px;
    padding: 15px;
    font-family: "Audiowide", sans-serif;
    font-size: 13px;
    position: absolute;
    text-align: center;
    color: white;

}

section article {
    margin-top: 40px;
    margin-right: 15px;
    background-color: white;
    margin: 1.5em;
    
}

.article h2 {
    font-family: "Audiowide", sans-serif;
    font-size: 20px;
    border-top: 2px solid lightgrey;
    padding-top: 30px;
    color: blue;
    text-shadow: black 1px 1px;
}

.article {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: black;
}

.descricao {
    font-family: "Audiowide", sans-serif;
    font-size: 40px;
    color: black;
}

.button {
    font-family: "Audiowide", sans-serif;
    background-color: rgb(55, 174, 109);
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 0px 90px;
    border: none;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.397);
}

.button:hover {
    background-color: rgb(37, 116, 73);
    transition: 0.5s;
}

a {
    text-decoration: none;
}

.button a:visited {
    text-decoration: none;
    color: black;
}

@media screen and (min-width: 768px) {
    section {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 960px) {
    section {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1024px) {
    section {
        width: 1000px;
        margin: auto;
    }
}




    
